body {
  background: #f4f4f4;
  font-family: sans-serif;
  font-weight: 100;
  margin: 0;
}

#main h1 {
  padding: 20px;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
}

h1 span {
  color: red;
}

section {
  text-align: center;
  display: flex;
}

/*Header Styles*/

header {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  width: 100%
}

nav button {
  margin: 10px;
}

/*Message Console Styles*/

.message-console {
  width: 600px;
  height: 90vh;
  overflow-y: scroll;
  background-color: white;
  border-right: 1px solid gray;
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.send {
  background-color: blue;
  color: white;
  width: 250px;
  align-self: flex-end;
  padding: 15px;
  border-radius: 10%;
}

.receive {
  background-color: lightgray;
  width: 250px;
  align-self: flex-start;
  padding: 15px;
  border-radius: 10%;
}

/* Send Controller Styles */

.send-controller {
  display: inline-block;
  width: 200px;

}

form {
  display: inline-block;
}

textarea {
  width: 300px;
  height: 200px;
}
