body {
  background: #DFDCE3;
  font-family: sans-serif;
  font-weight: 100;
  margin: 0;

}

#main h1 {
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  margin: 0;
  margin-left: 20px;
}

span {
  color: #985E6D;
}

.tag-line {
  color: #FFF;
  font-size: .5em;
  margin: 0;
  margin-left: 20px;
}

.tag-line span {
  font-style: italic;
}

label {
  color: #FFF;
  display: block;
}

#login-submit {
  background-color: #98878F;
  color: #FFF;
  text-decoration: none;
  width: 50px;
}

button {
  background-color: #DFDCE3;
  border: 1px solid #494E6B;
  border-radius: 25px;
  color: #192231;
  margin: 0 10px;
  outline: none;
  text-decoration: none;
}

.home-page {
  background-color: #FDFDFD;
  border: 2px solid #494E6B;
  color: #192231;
  margin-top: 50px;
  padding: 20px;
  text-align: left;
  width: 800px;
}

#home-txt-logo {
  background-color: #494E6B;
  border-radius: 25px;
  color: #FFF;
  padding: 5px 0 5px 5px;
}

#home-smart-logo {
  background-color: #494E6B;
  border-radius: 25px;
  padding: 5px 5px 5px 0;

}

#sample-photo {
  box-shadow: 5px 2px 2px #192231;
  float:right;
  height: 300px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.inline-number {
  font-size: 1.2em;
}

section {
  display: flex;
  justify-content: center;
  text-align: center;
}

/*Header Styles*/

header {
  align-items: center;
  background-color: #494E6B;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  width: 100%
}

a {
  background-color: #98878F;
  border-radius: 25px;
  color: #FFF;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
}

.selected {
  border: 3px solid #DFDCE3;
  color: #192231;
}

/*Message Console Styles*/
#reminder-txt {
  align-items: center;
  background-color: #192231;
  color: #FFF;
  display: flex;
  height: 5vh;
  justify-content: center;
  margin: 0;
}

.message-console {
  background-color: #FDFDFD;
  border-left: 1px solid #494E6B;
  border-right: 1px solid #494E6B;
  height: 85vh;
  overflow-y: scroll;
  width: 600px;

}

.message-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.send {
  align-self: flex-end;
  background-color: blue;
  border-radius: 10%;
  color: white;
  padding: 15px;
  width: 250px;
}

.receive {
  align-self: flex-start;
  background-color: lightgray;
  border-radius: 10%;
  padding: 15px;
  width: 250px;
}

.community {
  width: 80%;
  background-color: lightgray;
  border-radius: 10%;
  padding: 15px;
  align-self: center;
}

/* Send Controller Styles */

.send-controller {
  display: inline-block;
  width: 200px;

}

form {
  display: inline-block;
  margin-right: 40px;
}

input {
  width: 150px;
}

@media screen and (max-width: 1050px) {
  header {
    flex-direction: column;
    height: 20vh;
    padding: 10px 0;
    text-align: center;
  }

  header h1 {
    margin: 0;
  }

  .tag-line {
    margin: 0;
  }

  form {
    margin-right: 0;
  }

  .message-console {
    height: 73vh;
  }
}

@media screen and (max-width: 750px) {
  .message-console {
    height: 78vh;
    width: 400px;
  }

  #reminder-txt {
    display: none;
  }

  .send, .receive {
    width: 200px;
  }

  .home-page {
    margin-top: 0;
  }
}

@media screen and (max-width: 550px) {

  #console-wrapper {
    width: 100%;
  }
  .message-console {
    height: 58vh;
    width: 100%;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  header {
    height: 40vh;
  }

  #loader-img {
    width: 100%;
  }

  #sample-photo{
    display: none;}
}

@media screen and (max-width: 400px) {
  .send, .receive {
    width: 160px;
  }
}
