body {
  background: #f4f4f4;
  font-family: sans-serif;
  font-weight: 100;
}

#main h1 {
  padding: 20px;
  border-bottom: 1px dashed #aaa;
  color: rgba(0,0,0,0.6);
  font-weight: 100;
  font-family: sans-serif;
}

#main {
  text-align: center;
}

.message-console {
  width: 600px;
  height: 100vh;
  overflow-y: scroll;
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.send {
  background-color: blue;
  color: white;
  width: 250px;
  align-self: flex-end;
  padding: 15px;
  border-radius: 10%;
}

.receive {
  background-color: lightgray;
  width: 250px;
  align-self: flex-start;
  padding: 15px;
  border-radius: 10%;
}
